<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat Application</title>
    <link rel="shortcut icon" href="/static/imgs/relax.ico" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <style type="text/css">
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 80%; margin: auto}
        form input { border: 0; padding: 10px; width: 80%; margin-right: 5px; }
        #conversation { list-style-type: none; margin: 0; padding: 0; }
        #conversation li { padding: 5px 10px; }
        #conversation li:nth-child(odd) { background: #eee; }
    </style>
</head>
<body>
    <div class="container">
        <ul id="conversation">

        </ul>

        <form>
            <input type="text" name="message" id="message">
            <button class="btn btn-success pull-right" id="btn_send">Send</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script type="text/javascript">
        var socket = io.connect("http://localhost:3300");
        socket.on("connect", function() {
            console.log("User is connecting to server");
            
            // Ask name
            var username = prompt("What is your name?");
            // Notify to server
            socket.emit("add_user", username); // gửi thông báo - tên event - data

        });

        // Listen update_message event
        socket.on("update_message", function(data) {
            $("#conversation").append("<li><b>" + data.sender + ": </b>" + data.message + "</li>");
        });

        // Send message Event
        $("#btn_send").click(function(e) {
            // Get message
            var message = $("#message").val();
            $("#message").val("");

            if(message.trim().length != 0) {
                socket.emit("send_message", message);
            }
        });

        $("form").submit(function() {
            return false;
        });
    </script>
</body>
</html>